# Ignore all files by default
/*
/.*

# bash
!.bashrc
!.bash_profile

# zsh
!.zshrc
!.zprofile
# some config files
!/.config
/.config/*
!/.config/i3
!/.config/ranger


# git
!.gitignore
!.gitconfig

# WM
!.Xresources

# vim
!/.vim
!.vimrc

# still ignore
.vim/.netrwhist
.vim/plugged

