# Ignore all files by default
/*
/.*

# readme
!README.md

# bash
!.bashrc
!.bash_profile

# zsh
!.zshrc
!.zprofile
!.zsh_custom
# some config files
!/.config
/.config/*
!/.config/i3
!/.config/ranger
!/.config/kitty
!/.config/alacritty
!/.config/picom
!/.config/dunst
!/.config/fcitx
/.config/fcitx/*
!/.config/fcitx/config
!/.config/rofi


# git
!.gitignore
!.gitconfig

# WM
!.Xresources

# vim
!/.vim
!.vimrc

# scripts
!/scripts
# still ignore
.vim/.netrwhist
.vim/plugged

